{% extends 'car/base.html' %}

{% block content %}
<ul class="list-articles">
	<li><div class="article-panel">
                <p class="first">Категория:{{about_one_auto.cat_car_brand}}</p>
                <p class="last">Дата:{{about_one_auto.time_update | date:"d-m-Y H:i:s"}}</p>
            </div></li>
            <li><h2>{{about_one_auto.brand_owner}} {{about_one_auto.model_owner}}</h2>
            {% if about_one_auto.photo %}
                <p><img class="img-article-left thumb" src="{{about_one_auto.photo.url}}"></p>
			{% else %}
				<p><img class="img-article-left thumb" src="media/uploads/not db/no_photo.jpg" width="150" height="200"></p>
            {% endif %}

			<li><h2>{{about_one_auto.prise}} {{about_one_auto.currency}}</h2>
	{% autoescape on %}
	{{ about_one_auto.description }}
	{% endautoescape %}
</ul>
{% endblock %}
