{% extends 'car/base.html' %}


{% block content %}
<h1>{{title}}:</h1>
<img src="media/uploads/not_db/me.jpg" width="150" height="200"  alt="альтернативный текст">
<p>Здравствуйте, меня зовут Александр и я создатель этого сайта.
        Цель этого сайта, показать навыки, которые я преобрел в процессе обучения. На примере этого сайта,
        хочу продимонстрировать свое умение работать с классами представления.</p>
<p>Hard skils:</p>
{% for i in hard_skils %}
<li>{{i}}</li>
{% endfor %}

{% endblock %}